include _header.jade
<div class="page_404_wr">
    <div class="block_inner">
        <div class="path_block_link">
            <a href="">Главная</a><span>></span>404
        </div>
        <div class="image">
            <img src="img/404.png" alt="">
        </div>
        <div class="title">СТРАНИЦА <strong>НЕ НАЙДЕНА</strong></div>
        <a href="" class="btn_button border"><span>Перейти на главную</span></a>
    </div>
</div>
include _footer.jade