</div>
<footer class="footer">
    <div class="footer__inner">
        <div class="footer__top">
            <div class="footer__top-left"><img src="img/footer_logo.jpg" alt=""></div>
            <div class="footer__top-right">
                <div class="footer__address">адрес Москва дом улица</div>
                <a href="mailto: info@setuoseo.ru" class="footer__email">info@setuoseo.ru</a>
                <div class="social_blocks">
                    <a href="#" target="_blank"><img src="img/telegram.svg" alt=""></a>
                    <a href="#" target="_blank"><img src="img/whatsapp.svg" alt=""></a>
                </div>
                <a href="tel: +7 (495) 777 93 65" class="footer__phone">+7 (495) 777 93 65</a>
                <a href="#" class="call-button">Заказать звонок</a>
            </div>
        </div>
        <div class="footer__bottom">
            <ul class="menu-bottom">
                <li>
                    <a href="#">УСЛУГИ</a>
                    <ul>
                        <li><a href="#">СЕО продвижение по позициям</a></li>
                        <li><a href="#">СЕО продвижение</a></li>
                        <li><a href="#">СЕО продвижение по трафику</a></li>
                        <li><a href="#">Поддержка сайта</a></li>
                        <li><a href="#">Маркетинг</a></li>
                        <li><a href="#">Маркетинговые услуги</a></li>
                    </ul>
                </li>
            </ul>
            <ul class="menu-bottom">
                <li>
                    <a href="#">ПРОДУКТЫ</a>
                    <ul>
                        <li><a href="#">Поддержка сайта</a></li>
                        <li><a href="#">Пакет 10 часов</a></li>
                        <li><a href="#">Пакет 15 часов</a></li>
                        <li><a href="#">Пакет 25 часов</a></li>
                        <li><a href="#">Пакет 35 часов</a></li>
                    </ul>
                </li>
            </ul>
            <ul class="menu-bottom">
                <li>
                    <a href="#">О КОМПАНИИ</a>
                    <ul>
                        <li><a href="#">О компании</a></li>
                        <li><a href="#">Отзывы</a></li>
                        <li><a href="#">Сертификаты</a></li>
                        <li><a href="#">Партнеры</a></li>
                        <li><a href="#">Реквизиты</a></li>
                        <li><a href="#">Политика конфиденциальности</a></li>
                    </ul>
                </li>
            </ul>
            <ul class="menu-bottom">
                <li>
                    <a href="#">БЛОГ</a>
                </li>
                <li>
                    <a href="#">НОВОСТИ</a>
                </li>
                <li>
                    <a href="#">КОНТАКТЫ</a>
                </li>
            </ul>
        </div>
    </div>
</footer>
</div>
<script src="js/responsivetabs.js"></script>
<script src="js/swiper-bundle.min.js"></script>
<script src="js/inputmask.js"></script>
<script src="js/main.js"></script>
</body>
</html>