</div>
<footer class="footer">
    <div class="footer__inner">
        <div class="footer__bottom">
            <div class="footer__top">
                <div class="footer__top-left"><img src="img/footer_logo.jpg" alt=""></div>
                <div class="footer__top-right">
                    <div class="links">
                        <a href="tel: +7 (495) 777 93 65" class="footer__phone">+7 (495) 777 93 65</a>
                        <div class="social_blocks">
                            <a href="#" target="_blank"><img src="img/telegram.svg" alt=""></a>
                            <a href="#" target="_blank"><img src="img/whatsapp.svg" alt=""></a>
                        </div>
                    </div>
                    <div><a href="mailto: info@setuoseo.ru" class="footer__email">info@setuoseo.ru</a></div>
                    <a href="#" class="btn_button form_btn">Заказать звонок</a>
                </div>
            </div>
            <div class="menu-bottom">
                <ul>
                    <li>
                        <a href="#">УСЛУГИ</a>
                        <ul>
                            <li><a href="">СЕО продвижение по позициям</a></li>
                            <li><a href="">СЕО продвижение по ГЕО</a></li>
                            <li><a href="">СЕО продвижение по трафику</a></li>
                            <li><a href="">Поддержка сайта</a></li>
                            <li><a href="">Работа с SERM и репутацией сайта</a></li>
                            <li><a href="">Маркетинговые услуги</a></li>
                        </ul>
                    </li>
                </ul>
            </div>
            <div class="menu-bottom">
                <ul>
                    <li>
                        <a href="#">ПРОДУКТЫ</a>
                        <ul>
                            <li><a href="#">Поддержка сайта</a></li>
                            <li><a href="#">Пакет 10 часов</a></li>
                            <li><a href="#">Пакет 15 часов</a></li>
                            <li><a href="#">Пакет 25 часов</a></li>
                            <li><a href="#">Пакет 35 часов</a></li>
                        </ul>
                    </li>
                </ul>
            </div>
            <div class="menu-bottom">
                <ul>
                    <li>
                        <a href="#">О КОМПАНИИ</a>
                        <ul>
                            <li><a href="#">О компании</a></li>
                            <li><a href="#">Отзывы</a></li>
                            <li><a href="#">Сертификаты</a></li>
                            <li><a href="#">Партнеры</a></li>
                            <li><a href="#">Реквизиты</a></li>
                            <li><a href="#">Политика конфиденциальности</a></li>
                        </ul>
                    </li>
                </ul>
            </div>
            <div class="menu-bottom last_item">
                <ul class="last">
                    <li>
                        <a href="#">НОВОСТИ</a>
                    </li>
                    <li>
                        <a href="#">КОНТАКТЫ</a>
                    </li>
                </ul>
                <div class="copy">Создание сайта WebReforma <br>© 2023 Все права защищены.</div>
            </div>
        </div>
    </div>
</footer>
</div>
<div class="form-popup-wrapper form_popup">
    <div class="formExtraWrapper">
        <div class="close-form"></div>
        <div class="form-b">
            <div class="form_style">
                <div class="title">Оставить заявку</div>
                <form action="">
                    <div class="inner">
                        <div class="left">
                            <div class="field">
                                <div class="field_name required">Ваш имя</div>
                                <input type="text" required placeholder="Имя">
                            </div>
                            <div class="field required">
                                <div class="field_name">Ваш телефон*</div>
                                <input type="text" required class="phone_input" placeholder="+7 (___) ___-__-__">
                            </div>
                            <div class="field required">
                                <div class="field_name">Ваш Email*</div>
                                <input type="text" required class="email_input" placeholder="Адрес почты">
                            </div>
                        </div>
                        <div class="right">
                            <div class="field">
                                <div class="field_name">Ваш сайт</div>
                                <input type="text" placeholder="www. _______">
                            </div>
                            <div class="field">
                                <div class="field_name">Ваше сообщение</div>
                                <textarea name="" placeholder="Текст" id="" cols="30" rows="10"></textarea>
                            </div>
                        </div>
                    </div>
                    <div class="bottom">
                        <div class="field checkbox required">
                            <label>
                                <input type="checkbox" checked>
                                <i></i>
                                <span>Согласен с Политикой кончиденциальности</span>
                            </label>
                        </div>
                        <button class="btn_button border form_button"><span>Отправить</span></button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
<script src="js/responsivetabs.js"></script>
<script src="js/swiper-bundle.min.js"></script>
<script src="js/inputmask.js"></script>
<script src="js/main.js"></script>
</body>
</html>