include _header.jade
<div class="top_title_block">
    <div class="block_inner">
        <div class="path_block_link">
            <a href="">Главная</a><span>></span>Блог
        </div>
        <h1 class="page_name">Блог</h1>
    </div>
</div>
<div class="blog_list_wr">
    <div class="block_inner">
        <div class="tags_block_wr">
            <div class="title">Теги:</div>
            <div class="list" id="tagList">
                <a href="">Все (234)</a>
                <a href="">Яндекс метрика (22) </a>
                <a href="">Изменения (34)</a>
                <a href="">аналитика (56)</a>
                <a href="">мобильный интернет (17)</a>
                <a href="">гайды (45)</a>
                <a href="">мобильный интернет (17)</a>
                <a href="">гайды (45)</a>
                <a href="">мобильный интернет (17)</a>
                <a href="">гайды (45)</a>
            </div>
            <button id="expandBtn" onclick="expandTags()">Развернуть все</button>
        </div>
        <div class="sort_block_wr">
            <div class="left_sort">
                <div class="title">Сортировать по:</div>
                <div class="list_sort">
                    <a href="" class="date_sort">Дате</a>
                    <a href="" class="popular_sort">Просмотрам</a>
                </div>
            </div>
            <div class="right">
                <div class="title">Показано:</div>
                <div class="counter_pr">9/34</div>
            </div>
        </div>
        <div class="blog_list_main">
            <div class="blog_item">
                <a href="/blog-page.html" class="link"></a>
                <span class="image">
                    <img src="img/blog.jpg" alt="">
                </span>
                <span class="blog_b">
                    <span class="name">Рассылки для продвижения бизнеса</span>
                    <span class="tags">
                        <a href="/tag">#Что это такое</a><a href="/tag2">#бизнес</a><a href="/tag3">#продажи</a>
                    </span>
                    <span class="blog_detals">
                        <span class="date">30.05.2023</span>
                        <span class="blog_view">5</span>
                        <span class="btn_blog"></span>
                    </span>
                </span>
            </div>
            <div class="blog_item">
                <a href="/blog-page.html" class="link"></a>
                <span class="image">
                    <img src="img/blog.jpg" alt="">
                </span>
                <span class="blog_b">
                    <span class="name">Рассылки для продвижения бизнеса</span>
                    <span class="tags">
                        <a href="/tag">#Что это такое</a><a href="/tag2">#бизнес</a><a href="/tag3">#продажи</a>
                    </span>
                    <span class="blog_detals">
                        <span class="date">30.05.2023</span>
                        <span class="blog_view">5</span>
                        <span class="btn_blog"></span>
                    </span>
                </span>
            </div>
            <div class="blog_item">
                <a href="/blog-page.html" class="link"></a>
                <span class="image">
                    <img src="img/blog.jpg" alt="">
                </span>
                <span class="blog_b">
                    <span class="name">Рассылки для продвижения бизнеса</span>
                    <span class="tags">
                        <a href="/tag">#Что это такое</a><a href="/tag2">#бизнес</a><a href="/tag3">#продажи</a>
                    </span>
                    <span class="blog_detals">
                        <span class="date">30.05.2023</span>
                        <span class="blog_view">5</span>
                        <span class="btn_blog"></span>
                    </span>
                </span>
            </div>
            <div class="blog_item">
                <a href="/blog-page.html" class="link"></a>
                <span class="image">
                    <img src="img/blog.jpg" alt="">
                </span>
                <span class="blog_b">
                    <span class="name">Рассылки для продвижения бизнеса</span>
                    <span class="tags">
                        <a href="/tag">#Что это такое</a><a href="/tag2">#бизнес</a><a href="/tag3">#продажи</a>
                    </span>
                    <span class="blog_detals">
                        <span class="date">30.05.2023</span>
                        <span class="blog_view">5</span>
                        <span class="btn_blog"></span>
                    </span>
                </span>
            </div>
            <div class="blog_item">
                <a href="/blog-page.html" class="link"></a>
                <span class="image">
                    <img src="img/blog.jpg" alt="">
                </span>
                <span class="blog_b">
                    <span class="name">Рассылки для продвижения бизнеса</span>
                    <span class="tags">
                        <a href="/tag">#Что это такое</a><a href="/tag2">#бизнес</a><a href="/tag3">#продажи</a>
                    </span>
                    <span class="blog_detals">
                        <span class="date">30.05.2023</span>
                        <span class="blog_view">5</span>
                        <span class="btn_blog"></span>
                    </span>
                </span>
            </div>
            <div class="blog_item">
                <a href="/blog-page.html" class="link"></a>
                <span class="image">
                    <img src="img/blog.jpg" alt="">
                </span>
                <span class="blog_b">
                    <span class="name">Рассылки для продвижения бизнеса</span>
                    <span class="tags">
                        <a href="/tag">#Что это такое</a><a href="/tag2">#бизнес</a><a href="/tag3">#продажи</a>
                    </span>
                    <span class="blog_detals">
                        <span class="date">30.05.2023</span>
                        <span class="blog_view">5</span>
                        <span class="btn_blog"></span>
                    </span>
                </span>
            </div>
            <div class="blog_item">
                <a href="/blog-page.html" class="link"></a>
                <span class="image">
                    <img src="img/blog.jpg" alt="">
                </span>
                <span class="blog_b">
                    <span class="name">Рассылки для продвижения бизнеса</span>
                    <span class="tags">
                        <a href="/tag">#Что это такое</a><a href="/tag2">#бизнес</a><a href="/tag3">#продажи</a>
                    </span>
                    <span class="blog_detals">
                        <span class="date">30.05.2023</span>
                        <span class="blog_view">5</span>
                        <span class="btn_blog"></span>
                    </span>
                </span>
            </div>
        </div>
        <div class="page_list_wr">
            <a href="" class="btn_page prev_btn"></a>
            <a href="" class="number">1</a>
            <span class="number">2</span>
            <a href="" class="number">3</a>
            <a href="" class="number">4</a>
            <span class="dots">...</span>
            <a href="" class="number">8</a>
            <a href="" class="btn_page next_btn"></a>
        </div>
    </div>
</div>
<div class="range_block page_inner_block">
    <div class="title_main">Наши услуг</div>
    <div class="range_block__inner">
        <a href="#" class="range_block__item">
            <span class="range_block__item-image"><img src="img/range1.svg" alt=""></span>
            <span class="range_block__item-title">Сопровождение сайтов</span>
            <span class="range_block__item-desc">По позициям, по трафику, <br>E-commerce, для молодых сайтов, комплексное продвижение</span>
            <span class="range_block__item-price">от 45 000 ру</span>
        </a>
        <a href="#" class="range_block__item">
            <span class="range_block__item-image"><img src="img/range3.svg" alt=""></span>
            <span class="range_block__item-title">Аудиты</span>
            <span class="range_block__item-desc">По позициям, по трафику,<br> E-commerce, для молодых сайтов, комплексное продвижение</span>
            <span class="range_block__item-price">от 25 000 ру</span>
        </a>
        <a href="#" class="range_block__item">
            <span class="range_block__item-image"><img src="img/icon4.png" alt=""></span>
            <span class="range_block__item-title">Копирайтинг</span>
            <span class="range_block__item-desc">По позициям, по трафику, <br>E-commerce, для молодых сайтов, комплексное продвижение</span>
            <span class="range_block__item-price">от 70 000 ру</span>
        </a>
        <a href="#" class="range_block__item">
            <span class="range_block__item-image"><img src="img/range2.svg" alt=""></span>
            <span class="range_block__item-title">Дополнительные услуги</span>
            <span class="range_block__item-desc">По позициям, по трафику,<br> E-commerce, для молодых сайтов, комплексное продвижение</span>
            <span class="range_block__item-price">от 30 000 ру</span>
        </a>
        <a href="#" class="range_block__item">
            <span class="range_block__item-image"><img src="img/range1.svg" alt=""></span>
            <span class="range_block__item-title">Продвижение сайтов</span>
            <span class="range_block__item-desc">По позициям, по трафику, <br>E-commerce, для молодых сайтов, комплексное продвижение</span>
            <span class="range_block__item-price">от 30 000 ру</span>
        </a>
        <div class="form_style">
            <div class="form_title_block">
                <div class="title">Хотите увеличить продажи?</div>
                <div class="right_contacts">
                    <div class="phone">
                        <a href="tel:+7 (495) 777 93 65">+7 (495) 777 93 65</a>
                    </div>
                    <div class="messenger">
                        <a href="" target="_blank">
                            <img src="img/telegram.svg" alt="">
                        </a>
                        <a href="" target="_blank">
                            <img src="img/whatsapp.svg" alt="">
                        </a>
                    </div>
                </div>
            </div>
            <form action="">
                <div class="inner">
                    <div class="field">
                        <div class="field_name required">Ваш имя</div>
                        <input type="text" required placeholder="Имя">
                    </div>
                    <div class="field required">
                        <div class="field_name">Ваш телефон*</div>
                        <input type="text" required class="phone_input" placeholder="+7 (___) ___-__-__">
                    </div>
                </div>
                <div class="bottom">
                    <div class="field checkbox required">
                        <label>
                            <input type="checkbox" checked>
                            <i></i>
                            <span>Согласен с Политикой кончиденциальности</span>
                        </label>
                    </div>
                    <button class="btn_button border form_button"><span>Отправить</span></button>
                </div>
            </form>
        </div>
    </div>
</div>
<div class="clients_block page_inner_block">
    <div class="client">
        <div class="client__header">Лучшие клиенты <span>наши клиенты</span></div>
    </div>
    <div class="certificates">
        <div class="certificates__header">
            <div class="certificates__header-title">Лицензии и сертификаты</div>
            <div class="swiper_arrow">
                <div class="swiper_arrow_btn swiper-arrow-prev"></div>
                <div class="swiper_arrow_btn swiper-arrow-next"></div>
            </div>
        </div>
        <div class="swiper swiperBlock" data-id="swiperBlock" data-arrow="arrow">
            <div class="swiper-wrapper" id="swiperBlockGall">
                <a href="img/sert1.jpg" class="swiper-slide">
                    <img src="img/sert1.jpg" alt="">
                </a>
                <a href="img/sert2.jpg" class="swiper-slide">
                    <img src="img/sert2.jpg" alt="">
                </a>
                <a href="img/sert3.jpg" class="swiper-slide">
                    <img src="img/sert3.jpg" alt="">
                </a>
            </div>
        </div>
    </div>
</div>
include _footer.jade