include _header.jade
<div class="top_title_block page_inner_block">
    <div class="block_inner">
        <div class="path_block_link">
            <a href="">Главная</a><span>></span><a href="">Блог</a><span>></span> Название статьи, готовы предложить заказчикам четыре ..
        </div>
        <h1 class="page_name">Название статьи, готовы предложить заказчикам четыре основных пакета Expert, Plus, Standart и Region. Продвиже</h1>
        <span class="blog_detals">
            <span class="date">30.05.2023</span>
            <span class="blog_view">5</span>
            <span class="tags">
                <a href="#">#Что это такое</a><a href="#">#бизнес</a><a href="#">#продажи</a>
            </span>
        </span>
    </div>
</div>
<div class="blog_page_wrap">
    <div class="block_inner">
        <div class="left">
            <h2 id="h2_1">Что такое рефакторинг кода</h2>
            <p>SETUP SEO не идёт по пути постоянной закупки ссылок и переоптимизации текстов ключевыми словами и фразами, так как ничего хорошего из этого не получается. Мы:</p>
            <ul>
                <li>Выполняем аудит сайта, оцениваем и анализируем веб-проекты конкурентов.</li>
                <li>Проводим техническую оптимизацию.</li>
                <li>Формируем семантическое ядро, структуру, карту ресурса и т.д.</li>
                <li>Создаём и размещаем уникальный, качественный, читабельный, полезный и интересный для пользователя текстовый контент.</li>
                <li>Продвигаем проект по трафику, по позициям, по высоко-, средне- и низкочастотным запросам.</li>
                <li>Разрабатываем адаптивные версии для мобильных устройств.</li>
                <li>Совершенствуем usability сайта – простоту и удобство использования.</li>
                <li>Работаем над улучшением поведенческих факторов.</li>
            </ul>
            <p>Упор делается на высокое качество контента, поведенческие факторы и юзабилити, так как в настоящее время поисковики придают им самое большое значение.</p>
            <blockquote>
                <img src="img/bl.jpg" alt="">
                <p>Мы готовы предложить заказчикам четыре основных пакета Expert, Plus, Standart и Region. Продвижение под ключ выполняется одинаково эффективно в регионах с низкой конкуренцией и сверхвысокой. Разница будет только в стоимости услуг. Также мы готовы выполнять постоянную техническую поддержку.</p>
            </blockquote>
            <h2 id="h2_2">Зачем он нужен</h2>
            <p>SETUPSEO – это команда настоящих профессионалов с большим практическим опытом, которая способна выполнить самые сложные задачи. Мы:</p>
            <ul>
                <li>Продвигаем в ТОП любые web-проекты от небольших ресурсов до крупных интернет-порталов, независимо от их бюджета и региона.</li>
                <li>Изучаем и внедряем новые технологии раскрутки (например, внедрение региональных поддоменов).</li>
                <li>Никогда не работаем по серым и чёрным схемам продвижения, действуя в полном соответствии с требованиями Яндекса и Гугла.</li>
                <li>Гарантируем положительную динамику продвижения в поиске.</li>
                <li>Установили демократичные цены на услуги, которые по отзывам заказчиков являются одними из самых низких на рынке.</li>
                <li>Регулярно отчитываемся перед клиентами о проделанной работе.</li>
            </ul>
            <p>Ваш сайт не приносит прибыли, и вы хотите заказать его раскрутку? Обращайтесь, компания МОССЕО всегда открыта для сотрудничества.</p>
        </div>
        <div class="right">
            <div class="name_menu btn_list_menu">Содержание</div>
            <ul class="list_link main_list_menu">
                <li><a href="#h2_1">Что такое рефакторинг кода</a></li>
                <li><a href="#h2_2">Зачем он нужен</a></li>
                <li><a href="#h2_3">В каких случаях стоит его делать</a></li>
                <li><a href="#h2_4">Пример того, как делают</a></li>
                <li><a href="#h2_5">Что не является рефакторингом</a></li>
                <li><a href="#h2_6">Правила и методики</a></li>
                <li><a href="#h2_7">Сложности и ошибки</a></li>
                <li><a href="#h2_8">Коротко о главном</a></li>
            </ul>
        </div>
    </div>
</div>
<div class="range_block">
    <div class="range_block__inner">
        <div class="range_block__header">
            <div class="range_block__header-title">Полный спектор услуг</div>
            <div class="range_block__header-desc">Оставляйте заявку на продвижение сайта прямо сейчас и получите бесплатную консультацию по продвижению вашего сайта и мини-аудит с планом работ на ближайший месяц!</div>
            <a href="#" class="range_block__header-link">СМОТРЕТЬ ВСЕ УСЛУГИ</a>
        </div>
        <a href="#" class="range_block__item">
            <span class="range_block__item-image"><img src="img/range1.svg" alt=""></span>
            <span class="range_block__item-title">Продвижение сайтов</span>
            <span class="range_block__item-desc">По позициям, по трафику, E-commerce, для молодых сайтов ,комплексное продвижение</span>
            <span class="range_block__item-price">от 30 000 ру</span>
        </a>
        <a href="#" class="range_block__item">
            <span class="range_block__item-image"><img src="img/range2.svg" alt=""></span>
            <span class="range_block__item-title">Интернет-реклама</span>
            <span class="range_block__item-desc">По позициям, по трафику, E-commerce, для молодых сайтов ,комплексное продвижение</span>
            <span class="range_block__item-price">от 10 000 ру</span>
        </a>
        <a href="#" class="range_block__item">
            <span class="range_block__item-image"><img src="img/range1.svg" alt=""></span>
            <span class="range_block__item-title">Сопровождение сайтов</span>
            <span class="range_block__item-desc">По позициям, по трафику, E-commerce, для молодых сайтов ,комплексное продвижение</span>
            <span class="range_block__item-price">от 45 000 ру</span>
        </a>
        <a href="#" class="range_block__item">
            <span class="range_block__item-image"><img src="img/range3.svg" alt=""></span>
            <span class="range_block__item-title">Аудиты</span>
            <span class="range_block__item-desc">По позициям, по трафику, E-commerce, для молодых сайтов ,комплексное продвижение</span>
            <span class="range_block__item-price">от 25 000 ру</span>
        </a>
        <a href="#" class="range_block__item">
            <span class="range_block__item-image"><img src="img/icon4.png" alt=""></span>
            <span class="range_block__item-title">Копирайтинг</span>
            <span class="range_block__item-desc">По позициям, по трафику, E-commerce, для молодых сайтов ,комплексное продвижение</span>
            <span class="range_block__item-price">от 70 000 ру</span>
        </a>
        <a href="#" class="range_block__item">
            <span class="range_block__item-image"><img src="img/range2.svg" alt=""></span>
            <span class="range_block__item-title">Дополнительные услуги</span>
            <span class="range_block__item-desc">По позициям, по трафику, E-commerce, для молодых сайтов ,комплексное продвижение</span>
            <span class="range_block__item-price">от 30 000 ру</span>
        </a>
    </div>
</div>
<div class="similar_block">
    <div class="block_inner">
        <div class="title">Читать похожие</div>
        <div class="inner_product">
            <div class="blog_item">
                <a href="/blog-page.html" class="link"></a>
                <span class="image">
                    <img src="img/blog.jpg" alt="">
                </span>
                <span class="blog_b">
                    <span class="name">Рассылки для продвижения бизнеса</span>
                    <span class="tags">
                        <a href="/tag">#Что это такое</a><a href="/tag2">#бизнес</a><a href="/tag3">#продажи</a>
                    </span>
                    <span class="blog_detals">
                        <span class="date">30.05.2023</span>
                        <span class="blog_view">5</span>
                        <span class="btn_blog"></span>
                    </span>
                </span>
            </div>
            <div class="blog_item">
                <a href="/blog-page.html" class="link"></a>
                <span class="image">
                    <img src="img/blog.jpg" alt="">
                </span>
                <span class="blog_b">
                    <span class="name">Рассылки для продвижения бизнеса</span>
                    <span class="tags">
                        <a href="/tag">#Что это такое</a><a href="/tag2">#бизнес</a><a href="/tag3">#продажи</a>
                    </span>
                    <span class="blog_detals">
                        <span class="date">30.05.2023</span>
                        <span class="blog_view">5</span>
                        <span class="btn_blog"></span>
                    </span>
                </span>
            </div>
            <div class="blog_item">
                <a href="/blog-page.html" class="link"></a>
                <span class="image">
                    <img src="img/blog.jpg" alt="">
                </span>
                <span class="blog_b">
                    <span class="name">Рассылки для продвижения бизнеса</span>
                    <span class="tags">
                        <a href="/tag">#Что это такое</a><a href="/tag2">#бизнес</a><a href="/tag3">#продажи</a>
                    </span>
                    <span class="blog_detals">
                        <span class="date">30.05.2023</span>
                        <span class="blog_view">5</span>
                        <span class="btn_blog"></span>
                    </span>
                </span>
            </div>
        </div>
    </div>
</div>
<div class="bottom_blog_form">
    <div class="block_inner">
        <div class="form_style">
            <div class="form_title_block">
                <div class="title">Нужна консультация?</div>
                <div class="right_contacts">
                    <div class="text">Не знаете с чего начать или какой вариант продвижения вам подходит? <br>Наши специалисты ответят на все вопросы!</div>
                    <div class="phone">
                        <a href="tel:+7 (495) 777 93 65">+7 (495) 777 93 65</a>
                    </div>
                    <div class="messenger">
                        <a href="" target="_blank">
                            <img src="img/telegram.svg" alt="">
                        </a>
                        <a href="" target="_blank">
                            <img src="img/whatsapp.svg" alt="">
                        </a>
                    </div>
                </div>
            </div>
            <form action="">
                <div class="inner">
                    <div class="field">
                        <div class="field_name required">Ваш имя</div>
                        <input type="text" required placeholder="Имя">
                    </div>
                    <div class="field required">
                        <div class="field_name">Ваш телефон*</div>
                        <input type="text" required class="phone_input" placeholder="+7 (___) ___-__-__">
                    </div>
                </div>
                <div class="bottom">
                    <div class="field checkbox required">
                        <label>
                            <input type="checkbox" checked>
                            <i></i>
                            <span>Согласен с Политикой кончиденциальности</span>
                        </label>
                    </div>
                    <button class="btn_button border form_button"><span>Отправить</span></button>
                </div>
            </form>
        </div>
    </div>
</div>
include _footer_inner.jade