include _header.jade
<div class="top_title_block">
    <div class="block_inner">
        <div class="path_block_link">
            <a href="">Главная</a><span>></span>Контакты
        </div>
        <h1 class="page_name">Контакты</h1>
    </div>
</div>
<div class="contacts_page_wr">
    <div class="block_inner">
        <div class="left">
            <div class="phone">
                <div class="name">Позвоните нам</div>
                <a href="tel:+7 (495) 777 93 65">+7 (495) 777 93 65</a>
            </div>
            <div class="messenger">
                <div class="name">Напишите нам</div>
                <div><a href="mailto:info@setuoseo.ru" class="email">info@setuoseo.ru</a></div>
                <a href="" target="_blank">
                    <img src="img/telegram.svg" alt="">
                </a>
                <a href="" target="_blank">
                    <img src="img/whatsapp.svg" alt="">
                </a>
            </div>
            <div class="time">
                <div class="name">Время работы</div>
                <div class="text">Пн-Пт 09:00-18:00 <br>Сб-Вс: Выходной</div>
            </div>
        </div>
        <div class="right">
            <div class="form_style">
                <div class="title">Есть вопросы?</div>
                <form action="">
                    <div class="inner">
                        <div class="left">
                            <div class="field">
                                <div class="field_name required">Ваш имя</div>
                                <input type="text" required placeholder="Имя">
                            </div>
                            <div class="field required">
                                <div class="field_name">Ваш телефон*</div>
                                <input type="text" required class="phone_input" placeholder="+7 (___) ___-__-__">
                            </div>
                            <div class="field required">
                                <div class="field_name">Ваш Email*</div>
                                <input type="text" required class="email_input" placeholder="Адрес почты">
                            </div>
                        </div>
                        <div class="right">
                            <div class="field">
                                <div class="field_name">Ваш сайт</div>
                                <input type="text" placeholder="www. _______">
                            </div>
                            <div class="field">
                                <div class="field_name">Ваше сообщение</div>
                                <textarea name="" placeholder="Текст" id="" cols="30" rows="10"></textarea>
                            </div>
                        </div>
                    </div>
                    <div class="bottom">
                        <div class="field checkbox required">
                            <label>
                                <input type="checkbox" checked>
                                <i></i>
                                <span>Согласен с Политикой кончиденциальности</span>
                            </label>
                        </div>
                        <button class="btn_button border form_button"><span>Отправить</span></button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>          
<div class="about_us_block page_inner_block">
    <div class="about_us_block__title">О компании в цифрах</div>
    <div class="about_us_block__items-wrap">
        <div class="about_us_block__item">
            <div class="about_us_block__item-image"><img src="img/about1.png" alt=""></div>
            <div class="about_us_block__item-right">
                <div class="about_us_block__item-number"><span class="animate-number" data-max="87">0</span><span>%</span></div>
                <div class="about_us_block__item-title">увеличение конверсии</div>
            </div>
        </div>
        <div class="about_us_block__item">
            <div class="about_us_block__item-image"><img src="img/about2.svg" alt=""></div>
            <div class="about_us_block__item-right">
                <div class="about_us_block__item-number"><span class="animate-number" data-max="105">0</span><span>%</span></div>
                <div class="about_us_block__item-title">рост посещаемости</div>
            </div>
        </div>
        <div class="about_us_block__item">
            <div class="about_us_block__item-image"><img src="img/about3.svg" alt=""></div>
            <div class="about_us_block__item-right">
                <div class="about_us_block__item-number"><span class="animate-number" data-max="76">0</span><span>%</span></div>
                <div class="about_us_block__item-title">охват аудитории</div>
            </div>
        </div>
    </div>
</div>
<div class="map_blokc_wr">
    <iframe src="https://yandex.ru/map-widget/v1/?um=constructor%3A98181ef38f8a1b4d4a1db595ee9cc2389de3ff21c0351cb82929853c139165e4&amp;source=constructor" width="100%" height="400" frameborder="0"></iframe>
</div>
include _footer.jade